@*
    Author: Tobias Svensson
*@
@page "/BostadsDetaljer/{Id:int}"
@using BaseLibrary.DTO
@using JulietBlazorApp.Services
@inject BostadDtoService BostadDtoService
@inject BostadBildDtoService BostadBildDtoService
@inject MäklareDtoService MäklareDtoService

@if(imageToSee != -1)
{
    <div class="modal" tabindex="-1" style="display:block;">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" @onclick="ClickClose"></button>
                </div>
                <div class="modal-body">
                    <img class="image-gallery" src=@bostadensBilder.FirstOrDefault(p=>p.Id==imageToSee)?.BildURL alt="Bostadsbild saknas">
                </div>
            </div>
        </div>
    </div>
}

@if(bostad != null)
{
    <section>
        <div class="row">
            <div class="col-md-9">
                @if (bostadensBilder.Count() > 0)
                {
                    <img class="image-gallery" src=@bostadensBilder.FirstOrDefault(p=>p.BostadId==bostad.Id)?.BildURL alt="Bostadsbild">
                }
                else
                {
                    <img class="image-gallery" src="/images/placeholder.jpg" alt="Bostadsbild saknas">
                }
            </div>
            <div class="col-md-3">
                <h4>Kontakta Mäklare</h4>
                @if(mäklare != null)
                {
                    @if (!string.IsNullOrEmpty(mäklare.BildURL))
                    {
                        <img class="profil-image" src="@mäklare.BildURL" alt="Mäklarens bild saknas">
                    }
                    else
                    {
                        <img class="profil-image" src="/images/placeholder.jpg" alt="Mäklarens bild saknas">
                    }
                <p>@mäklare.Förnamn @mäklare.Efternamn</p>
                <p>mäklarenskontakt info</p>

                }
                else
                {
                    <p>mäklarens bild</p>
                    <p>mäklarens namn</p>
                    <p>mäklarenskontakt info</p>
                }
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col mt-3">
                <h3 class="mb-0">@bostad.Gatuadress</h3>
                <p>@bostad.Ort, @bostad.Kommun</p>
                <p>
                    @bostad.Objektbeskrivning blablabla bla bla blabla blabla bla blablabla blablablabla blabla bla bla bla blabla blablabla bla bla blabla blabla bla blablabla blablablabla blabla bla bla bla blabla blablabla bla bla blabla blabla bla blablabla blablablabla blabla bla bla bla blabla blablabla bla bla blabla blabla bla blablabla blablablabla blabla bla bla bla blabla blablabla bla bla blabla blabla bla blablabla blablablabla blabla bla bla bla blabla blablabla bla bla blabla blabla bla blablabla blablablabla blabla bla bla bla blabla.
                </p>
            </div>
            <div class="col mt-3">
                <h4>@bostad.Utgångspris.ToString("N0") kr</h4>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Bostadstyp</th>
                            <td>@bostad.Kategori</td>
                        </tr>
                        <tr>
                            <th scope="row">Antal rum</th>
                            <td>@bostad.Antalrum rum</td>
                        </tr>
                        <tr>
                            <th scope="row">Boarea</th>
                            <td>@bostad.Boarea m²</td>
                        </tr>
                        <tr>
                            <th scope="row">Biarea</th>
                            <td>@bostad.Biarea m²</td>
                        </tr>
                        @if (bostad.Tomtarea != 0)
                        {
                            <tr>
                                <th scope="row">Tomtarea</th>
                                <td>@bostad.Tomtarea m²</td>
                            </tr>
                        }
                        <tr>
                            <th scope="row">Byggår</th>
                            <td>@bostad.Byggår</td>
                        </tr>
                        <tr>
                            <th scope="row">Driftkonstnad</th>
                            <td>@bostad.Driftkonstnad.ToString("N0") kr/år</td>
                        </tr>
                        @if (bostad.Månadsavgift != null)
                        {
                            <tr>
                                <th scope="row">Månadsavgift</th>
                                <td>@(((decimal)bostad.Månadsavgift).ToString("N0")) kr/mån</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section>
        @if (bostadensBilder != null)
        {
            var leftOfBilder = bostadensBilder.Skip(1).ToList();
            var numberOfBilder = leftOfBilder.Count();
            //4 bilder i rad
            for (int i = 0; i < numberOfBilder; i += 4)
            {
                var bildRow = leftOfBilder.Skip(i).Take(4).ToList();

                <div class="row mt-4">
                    @foreach (BostadBildDto bild in bildRow)
                    {
                        <div class="col-md-3">
                            <button type="button" class="image-button" @onclick="()=>SeeImage(bild.Id)">
                                <img class="full-image" src="@bild.BildURL" alt="Bostadsbild">
                            </button>
                        </div>
                    }
                </div>
            }
        }
    </section>
}
else
{
    <div class="loading-indicator">
        <img src="/images/loadingIndicator.gif" alt="Loading..." />
    </div>
}


@code {
    [Parameter]
    public int Id { get; set; }

    private BostadDto bostad;
    private IEnumerable<BostadBildDto> bostadensBilder;
    private MäklareDto mäklare;

    private int imageToSee = -1;

    protected override async Task OnInitializedAsync()
    {
        bostad = await BostadDtoService.GetBostadAsync(Id);

        bostadensBilder = await BostadBildDtoService.GetBostadensBilderAsync(bostad.Id);
        if(bostad.MäklarId != null)
        {
            mäklare = await MäklareDtoService.GetMäklareAsync(bostad.MäklarId);
        }
    }

    private void SeeImage(int bildId)
    {
        imageToSee = bildId;
    }
    private void ClickClose()
    {
        imageToSee = -1;
    }
}