﻿@using Microsoft.AspNetCore.Components;
@using BaseLibrary.DTO

@foreach (var bostad in Bostäder)
{
    <div class="col-md-2 mb-2">
        <a href="/BostadsDetaljer/@bostad.Id">
            <div class="card">
                    @if (HasImagesForBostad(bostad))
                    {
                        <img class="thumbnail" src=@BostadsBilder.FirstOrDefault(p=>p.BostadId==bostad.Id)?.BildURL alt="Bostadsbild">
                    }
                    else
                    {
                        <img class="thumbnail" src="/images/placeholder.jpg" alt="Bostadsbild">
                    }
                <div class="card-body">
                    <h5 class="mb-3">
                        @bostad.Adress
                    </h5>
                    @if (bostad.Månadsavgift != null)
                    {
                        <p>
                            Utgångspris: @bostad.Utgångspris.ToString("N0") kr<br/>
                            Månadsavgift: @(((decimal)bostad.Månadsavgift).ToString("N0"))
                        </p>
                    }
                    else
                    {
                        <p>
                            Utgångspris: @bostad.Utgångspris.ToString("N0") kr
                        </p>
                    }
                    <p>
                        <b>@bostad.Kategori</b>
                    </p>
                </div>
            </div>
        </a>
    </div>
}

@code {
    [Parameter]
    public IEnumerable<BostadDto> Bostäder { get; set; }

    [Parameter]
    public IEnumerable<BostadBildDto> BostadsBilder { get; set; }

    private bool HasImagesForBostad(BostadDto Bostad)
    {
        return BostadsBilder.Any(p => p.BostadId == Bostad.Id);
    }
}
