@*
    Author: Tobias Svensson
*@﻿
@using Microsoft.AspNetCore.Components;
@using BaseLibrary.DTO

@foreach (var bostad in Bostäder)
{
    <div class="col-md-3 mb-2">
        <a href="/BostadsDetaljer/@bostad.Id">
            <div class="card">
                <div class="thumbnail-container">
                    @if (HasImagesForBostad(bostad))
                    {
                        <img class="thumbnail" src=@BostadsBilder.FirstOrDefault(p=>p.BostadId==bostad.Id)?.BildURL alt="Bostadsbild">
                    }
                    else
                    {
                        <img class="thumbnail" src="/images/placeholder.jpg" alt="Bostadsbild">
                    }
                </div>
                <div class="card-body">
                    <h5 class="mb-3 address">
                        @bostad.Gatuadress<br />
                        <span class="ortColor">@bostad.Ort</span>
                    </h5>
                    @if (bostad.Månadsavgift != null)
                    {
                        <p>
                            @bostad.Utgångspris.ToString("N0") kr<br/>
                            @(((decimal)bostad.Månadsavgift).ToString("N0")) kr/mån
                        </p>
                    }
                    else
                    {
                        <p>
                            @bostad.Utgångspris.ToString("N0") kr<br/>
                            &nbsp;
                        </p>
                    }
                    <p>
                        @bostad.Boarea m2<br />
                        @bostad.Antalrum rum <br />
                    </p>
                    <p>
                        <b>@bostad.Kategori</b>
                    </p>
                </div>
            </div>
        </a>
    </div>
}

@code {
    [Parameter]
    public IEnumerable<BostadDto> Bostäder { get; set; }

    [Parameter]
    public IEnumerable<BostadBildDto> BostadsBilder { get; set; }

    private bool HasImagesForBostad(BostadDto Bostad)
    {
        return BostadsBilder.Any(p => p.BostadId == Bostad.Id);
    }
}
