@using BaseLibrary.DTO
@inject BostadBildDtoService BostadBildDtoService
@inject BostadDtoService BostadDtoService
@inject NavigationManager NavigationManager


<div class="modal" tabindex="-1" style="display:block;">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ny Bostad</h5>
                <button type="button" class="btn-close" @onclick="ClickClose"></button>
            </div>
            @if (!string.IsNullOrEmpty(successMessage))
            {
                <div class="modal-body">
                    @successMessage
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="ClickClose">Avbryt</button>
                </div>
            }
            else
            {
                <form @onsubmit:preventDefault="true" @onsubmit="SubmitForm">
                    <div class="modal-body">
                        <section>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-2">
                                        <label for="utgångspris" class="form-label mb-1">Utgångspris</label>
                                        <input type="number" class="form-control" id="utgångspris" @bind="utgångspris" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="månadsavgift" class="form-label mb-1">Månadsavgift</label>
                                        <input type="number" class="form-control" id="månadsavgift" @bind="månadsavgift">
                                    </div>
                                    <div class="mb-2">
                                        <label for="driftkonstnad" class="form-label mb-1">Driftkonstnad</label>
                                        <input type="number" class="form-control" id="driftkonstnad" @bind="driftkonstnad">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-2 form-group">
                                        <label for="gatuadress" class="form-label mb-1">Gatuadress</label>
                                        <input type="text" class="form-control" id="gatuadress" placeholder="Gata nr" @bind="gatuadress" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="ort" class="form-label mb-1">Ort</label>
                                        <input type="text" class="form-control" id="ort" @bind="ort" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="kommunId" class="form-label mb-1">Kommun</label>
                                        @if (Kommuner != null)
                                        {
                                            <select @bind="kommunId" class="form-select" id="kommunId" required>
                                                @foreach (var kommun in Kommuner)
                                                {
                                                    <option value="@kommun.Id">@kommun.Namn</option>
                                                }
                                            </select>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <div class="mb-2">
                                        <label for="boarea" class="form-label mb-1">Boarea</label>
                                        <input type="number" class="form-control" id="boarea" @bind="boarea" required>
                                    </div>

                                    <div class="mb-2">
                                        <label for="biarea" class="form-label mb-1">Biarea</label>
                                        <input type="number" class="form-control" id="biarea" @bind="biarea">
                                    </div>

                                    <div class="mb-2">
                                        <label for="tomtarea" class="form-label mb-1">Tomtarea</label>
                                        <input type="number" class="form-control" id="tomtarea" @bind="tomtarea">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-2">
                                        <label for="antalrum" class="form-label mb-1">Antalrum</label>
                                        <select @bind="antalrum" class="form-select" id="antalrum" required>
                                            @for (int i = 1; i < 11; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="mb-2">
                                        <label for="byggår" class="form-label mb-1">Byggår</label>
                                        <input type="number" class="form-control" id="byggår" @bind="byggår" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="kategoriId" class="form-label mb-1">Kategori</label>
                                        @if (BostadKategorier != null)
                                        {
                                            <select @bind="kategoriId" class="form-select" id="kategoriId" required>
                                                @foreach (var kategori in BostadKategorier)
                                                {
                                                    <option value="@kategori.Id">@kategori.Namn</option>
                                                }
                                            </select>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 mt-4">
                                <label for="objektbeskrivning" class="form-label mb-1">Objektbeskrivning</label>
                                <textarea class="form-control" id="objektbeskrivning" @bind="objektbeskrivning" rows="5" required></textarea>
                            </div>
                        </section>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Skapa</button>
                        <button type="button" class="btn btn-secondary" @onclick="ClickClose">Avbryt</button>
                    </div>
                </form>
            }
        </div>
    </div>
</div>



@code {
    [Parameter]
    public IEnumerable<BostadKategoriDto> BostadKategorier { get; set; }
    [Parameter]
    public IEnumerable<KommunDto> Kommuner { get; set; }

    private BostadDto bostad;

    private int utgångspris;
    private int boarea;
    private int biarea;
    private int tomtarea;
    private int antalrum;
    private int? månadsavgift;
    private int driftkonstnad;
    private int byggår;

    private string? gatuadress;
    private string? ort;
    private string? objektbeskrivning;

    private int kategoriId;
    private int kommunId;
    private string? mäklarId;

    private string? successMessage;


    [Parameter]
    public EventCallback OnCancel { get; set; }


    private async Task ClickClose()
    {
        await OnCancel.InvokeAsync();
    }

    private async Task SubmitForm()
    {
        try
        {
            bostad = new BostadDto
                {
                    Utgångspris = utgångspris,
                    Boarea = boarea,
                    Biarea = biarea,
                    Tomtarea = tomtarea,
                    Antalrum = antalrum,
                    Månadsavgift = månadsavgift,
                    Driftkonstnad = driftkonstnad,
                    Byggår = byggår,
                    Gatuadress = gatuadress,
                    Ort = ort,
                    Objektbeskrivning = objektbeskrivning,
                    KategoriId = kategoriId,
                    KommunId = kommunId,
                    MäklarId = mäklarId

                };

            bool createSuccessful = await BostadDtoService.AddBostadAsync(bostad);

            if (createSuccessful)
            {
                successMessage = $"Ny bostad på {bostad.Gatuadress}, har lagts till";
            }
        }
        catch (Exception ex)
        {
            throw;
        }
    }
}