@*
    Author: Tobias Svensson
*@
@using BaseLibrary.DTO
@inject BostadBildDtoService BostadBildDtoService
@inject BostadDtoService BostadDtoService
@inject NavigationManager NavigationManager


<div class="modal" tabindex="-1" style="display:block;">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            @if (!string.IsNullOrEmpty(successMessage))
            {
                <div class="modal-header" style="background-color: rgb(25,135,84); color:white; border: none">
                    <h5 class="modal-title"><i class="bi bi-check-circle h1"></i></h5>
                    <button type="button" class="btn-close btn-close-white" @onclick="ClickClose"></button>
                </div>
                <div class="modal-body">
                    @successMessage.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" @onclick="ClickClose">Fortsätt</button>
                </div>
            }
            else
            {
                <div class="modal-header">
                    <h5 class="modal-title">Smörgås</h5>
                    <button type="button" class="btn-close" @onclick="ClickClose"></button>
                </div>
                <form @onsubmit:preventDefault="true" @onsubmit="SubmitForm">
                    <div class="modal-body">
                        <section>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-2">
                                        <label for="utgångspris" class="form-label mb-1">Utgångspris</label>
                                        <input type="number" class="form-control" id="utgångspris" @bind="bostad.Utgångspris" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="månadsavgift" class="form-label mb-1">Månadsavgift</label>
                                        <input type="number" class="form-control" id="månadsavgift" @bind="bostad.Månadsavgift">
                                    </div>
                                    <div class="mb-2">
                                        <label for="driftkonstnad" class="form-label mb-1">Driftkonstnad</label>
                                        <input type="number" class="form-control" id="driftkonstnad" @bind="bostad.Driftkonstnad">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-2">
                                        <label for="gatuadress" class="form-label mb-1">Gatuadress</label>
                                        <input type="text" class="form-control" id="gatuadress" placeholder="Gata nr" @bind="bostad.Gatuadress" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="ort" class="form-label mb-1">Ort</label>
                                        <input type="text" class="form-control" id="ort" @bind="bostad.Ort" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="kommunId" class="form-label mb-1">Kommun</label>
                                        @if (Kommuner != null)
                                        {
                                            <select @bind="bostad.KommunId" class="form-select" id="kommunId" required>
                                                @foreach (var kommun in Kommuner)
                                                {
                                                    <option value="@kommun.Id">@kommun.Namn</option>
                                                }
                                            </select>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <div class="mb-2">
                                        <label for="boarea" class="form-label mb-1">Boarea</label>
                                        <input type="number" class="form-control" id="boarea" @bind="bostad.Boarea" required>
                                    </div>

                                    <div class="mb-2">
                                        <label for="biarea" class="form-label mb-1">Biarea</label>
                                        <input type="number" class="form-control" id="biarea" @bind="bostad.Biarea">
                                    </div>

                                    <div class="mb-2">
                                        <label for="tomtarea" class="form-label mb-1">Tomtarea</label>
                                        <input type="number" class="form-control" id="tomtarea" @bind="bostad.Tomtarea">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-2">
                                        <label for="antalrum" class="form-label mb-1">Antalrum</label>
                                        <select @bind="bostad.Antalrum" class="form-select" id="antalrum" required>
                                            @for (int i = 1; i < 11; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="mb-2">
                                        <label for="byggår" class="form-label mb-1">Byggår</label>
                                        <input type="number" class="form-control" id="byggår" @bind="bostad.Byggår" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="kategoriId" class="form-label mb-1">Kategori</label>
                                        @if (BostadKategorier != null)
                                        {
                                            <select @bind="bostad.KategoriId" class="form-select" id="kategoriId" required>
                                                @foreach (var kategori in BostadKategorier)
                                                {
                                                    <option value="@kategori.Id">@kategori.Namn</option>
                                                }
                                            </select>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 mt-4">
                                <label for="objektbeskrivning" class="form-label mb-1">Objektbeskrivning</label>
                                <textarea class="form-control" id="objektbeskrivning" @bind="bostad.Objektbeskrivning" rows="5" required></textarea>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-secondary" style="margin-right: 10px;" @onclick="ClickClose">Avbryt</button>
                                <button type="submit" class="btn btn-primary">Spara</button>
                            </div>
                        </section>
                        <div class="mt-4 d-flex align-items-center">
                            <div>
                                <label for="PictureURL">Lägg till bild URL</label>
                                <input type="text" id="PictureURL" @bind="newPictureURL">
                            </div>
                            <button type="button" class="btn btn-primary btn-sm" style="margin-right: 10px;" @onclick="AddImage" disabled="@IsPictureLimitReached()"><i class="bi bi-plus-lg"></i></button>
                            @if (IsPictureLimitReached())
                            {
                                <p style="color: red;">Max 40 bilder</p>
                            }
                            else
                            {
                                <p>@bostadensBilder.Count()/40</p>
                            }
                        </div>
                        <div>
                            @if (bostadensBilder != null)
                            {
                                var numberOfBilder = bostadensBilder.Count();
                                //4 bilder i rad
                                for (int i = 0; i < numberOfBilder; i+= 4)
                                {
                                    var bildRow = bostadensBilder.Skip(i).Take(4).ToList();

                                    <div class="row mt-4">
                                        @foreach (BostadBildDto bild in bildRow)
                                        {
                                            if (imageAlternative != bild.Id)
                                            {
                                                <div class="col-md-3">
                                                    <button type="button" class="image-button" @onclick="()=>ToggleImageAlternatives(bild.Id)">
                                                        <img class="full-image" src="@bild.BildURL" alt="Bostadsbild">
                                                    </button>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-3">
                                                    <div class="image-button">
                                                        <div class="emty-room" style="background-image: url('@bild.BildURL');">
                                                            <div class="button-container">
                                                                <button type="button" class="btn-secondary cancel-button" @onclick="ToggleOffImageAlternatives"><i class="bi bi-x h4"></i></button>
                                                                <button type="button" class="btn-danger remove-button" @onclick="()=>RemoveImage(bild.Id)"><i class="bi bi-trash h4"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </form>
            }
        </div>
    </div>
</div>



@code {
    [Parameter]
    public IEnumerable<BostadKategoriDto> BostadKategorier { get; set; }
    [Parameter]
    public IEnumerable<KommunDto> Kommuner { get; set; }
    [Parameter]
    public BostadDto bostad { get; set; }


    private string? successMessage;

    private IEnumerable<BostadBildDto> bostadensBilder;
    private const int pictureLimit = 40;
    private string newPictureURL;

    private int imageAlternative = -1;

    protected override async Task OnInitializedAsync()
    {
        bostadensBilder = await BostadBildDtoService.GetBostadensBilderAsync(bostad.Id);
    }

    private bool IsPictureLimitReached()
    {
        if(bostadensBilder != null)
        {
            return bostadensBilder.Count() >= pictureLimit;    
        }
        else
        {
            return true;
        }
    }

    private void ToggleImageAlternatives(int bildId)
    {
        imageAlternative = bildId;
    }

    private void ToggleOffImageAlternatives()
    {
        imageAlternative = -1;
    }

    private async void AddImage()
    {
        if (!string.IsNullOrEmpty(newPictureURL))
        {
            BostadBildDto newBostadBild = new BostadBildDto { BildURL = newPictureURL, BostadId = bostad.Id };

            bool successful = await BostadBildDtoService.AddBostadBildAsync(newBostadBild);
            if (successful)
            {
                bostadensBilder = await BostadBildDtoService.GetBostadensBilderAsync(bostad.Id);
            }
        }
        newPictureURL = string.Empty;
    }

    private async void RemoveImage(int bildId)
    {

        bool successfulRemoval = await BostadBildDtoService.RemoveBostadBildAsync(bildId);

        if (successfulRemoval)
        {
            bostadensBilder = bostadensBilder.Where(b => b.Id != bildId).ToList();
            imageAlternative = -1;
        }
    }


    [Parameter]
    public EventCallback OnCancel { get; set; }

    private async Task ClickClose()
    {
        await OnCancel.InvokeAsync();
    }


    private async Task SubmitForm()
    {
        try
        {
            var successesfulResponse = await BostadDtoService.UpdateBostadAsync(bostad);

            if (successesfulResponse == true)
            {
                successMessage = $"Ändringarna har sparats";
            }
        }
        catch (Exception ex)
        {
            throw;
        }
    }
}